{% extends 'base.html' %}
{% load static %}

{% block title %}Достижения{% endblock %}

{% block content-header %}
<h3 class="text-center">Просмотр всех достижений</h3>
{% endblock %}

{% block content %}

{% if achievements %}
<p class="text-center"><i class="fa fa-info-circle" aria-hidden="true"></i> Наведите на иконку, чтобы посмотреть условия получения достижения.</p>
<div class="item">
    {% for achievement in achievements %}
    <div class="iconblock">
        <div title="{{ achievement.description }}" class="icon">
            <img class="img" src="{{ achievement.image.url }}" />
        </div>
        <div>
            <h3>{{ achievement.name }}</h3>
        </div>
        <div class="act-in-achievement">
            <a class="update-achievement btn btn-sm btn-primary" href="">
                <span class="fa fa-edit"></span>
            </a>
            <a class="delete-achievement btn btn-sm btn-danger" href="">
                <span class="fa fa-trash"></span>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text-center">На данный момент не созданно ни одно достижение!</p>
{% endif %}
{% endblock %}

{% block script %}
<script>
    $("#search").on("keyup", function () {
        var inputValue = $(this).val().toLowerCase();
        var count = 0
        $("#achievement-table tbody tr").filter(function () {
            if ($(this).children('.name').text().toLowerCase().indexOf(inputValue) > -1) count++;
            $(this).toggle($(this).children('.name').text().toLowerCase().indexOf(inputValue) > -1)
        });
        if (count == 0) {
            $('.error-search').show();
        } else {
            $('.error-search').hide();
        }
    });
</script>
{% endblock %}