{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Редактировать достижение{% endblock %}


{% block content-header %}
<h3 class="text-center">Редактировать достижение "{{ achievement.name }}"</h3>
{% endblock %}
{% block content %}
<div class="col-12 col-md-6 offset-md-3">
    <form class="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Сохранить</button>
            &nbsp;
            <a class="btn btn-secondary" href="{% url 'achievement' %}" class="">Назад</a>
        </div>
    </form>
</div>
{% endblock %}