{% extends 'base.html' %}

{% block title %}Студенты{% endblock %}

{% block content-header %}
<h3 class="text-center">Просмотр студентов</h3>
{% endblock %}

{% block content %}
<div class="nav-menu" style="display:flex;">
    <input type="text" class="form-control" id="search" placeholder="Поиск по ФИО..." style="margin-right: 13px;">
    <select id="name-group" class="select-student" style="margin-right: 10px;">
        <option value="">Группа</option>
        {% for group in groups %}
            <option value="{{ group }}">{{ group }}</option>
        {% endfor %}
    </select>
    <select id="year-group" class="select-student">
        <option value="">Поток</option>
        {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
</div>
<div class="table-wrapper-scroll-y scrollbar">
    <table id="student-table" class="table-scrolls">
        <thead>
            <tr>
                <th class="text-center" width="10%" data-sort-method='none'>
                    #
                </th>
                <th class="text-center data-sort fio" width="30%">
                    ФИО
                </th>
                <th class="text-center data-sort">
                    Группа
                </td>
                <th class="text-center data-sort" width="15%">
                    Форма обучения
                </th>
                <th class="text-center" data-sort-method='none'>
                    <!--  -->
                </th>
                <th class="text-center" data-sort-method='none'>
                    <!--  -->
                </th>
                <th class="text-center" data-sort-method='none'>
                    <!--  -->
                </th>
                <th style="display: none;">Поток</th>
            </tr>
        </thead>
        <tbody id="target">
            {% for student in students %}
            <tr>
                <td class="text-center">
                    {{ forloop.counter }}
                </td>
                <td class="text-center fio">
                    <a href="{% url 'student_detail' student.user.id %}">
                        {{student.user.get_full_name}}
                    </a>
                </td>
                <td class="text-center">
                    {{ student.group }}
                </td>
                <td class="text-center">
                    {{ student.form_of_education }}
                </td>
                <td class="text-center">
                    <!--  -->
                </td>
                <td class="text-center">
                    <!--  -->
                </td>
                <td class="text-center">
                    <!--  -->
                </td>
                <td style="display: none;">
                    {{ student.group.year_of_enrollment }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Message if sort not date -->
    <div class="error-search text-center mt-3" style="display: none;">
        <p><i class="fa fa-exclamation-circle"></i>По вашему запросу ничего не найдено</p>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
    $("#search").on("keyup", function () {
        var inputValue = $(this).val().toLowerCase();
        var count = 0
        $("#student-table tbody tr").filter(function () {
            if ($(this).children('.fio').text().toLowerCase().indexOf(inputValue) > -1) count++;
            $(this).toggle($(this).children('.fio').text().toLowerCase().indexOf(inputValue) > -1)
        });
        if (count == 0) {
            $('.error-search').show();
        } else {
            $('.error-search').hide();
        }
    });

    new Tablesort(document.getElementById('student-table'));

    filterTable(document.getElementById("target"), {
        2: document.getElementById("name-group"),
        7: document.getElementById("year-group"),
    });
</script>
{% endblock %}